.elements {
  width: calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 300px);
  margin: calc((100vw - 320px) / (1280 - 320) * (51 - 36) + 36px) auto calc((100vw - 320px) / (1280 - 320) * (66 - 48) + 48px);
}

@media screen and (min-width: 1280px) {
  .elements {
    width: 75vw;
    margin: 30px auto 66px;
    border-left: 3px solid white;
    padding-left: 20px;
  }
}
